
img {
    max-width: 100%;
    height: auto;
}

.photo-container {
    height: 100%;
    position:relative;
    background-size: cover;
    background-position: center;
    padding: 5px;
}

.add-patient {
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.panel-group {
    padding: 1%;
}

.form-group-edit {
    padding: 2%;
}

.form-group-edit-photo {
    padding: 5%;
    padding-left: 2%;
}

.save-changes{
    bottom: 0;
    padding: 2%;
}

.add-new-info {
    padding-right: 5%;
    padding-left: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tabs {
    align-self: center;
}

.input-inline {
    width: 80px;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.entry {
    padding: 1%;
}

.table {
    padding: 5%
}
.container-fluid table:not(:last-child) {
	border-top: 1px solid #ccc;
}


.modal-body {
    height:80%;
}

.dropdown{
    display: inline;
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.statistics {
    border: solid #ccc 1px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 1%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer-new-patient {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.scrollToTop{
    width:100px;
    height:50px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
}
.scrollToBottom{
    width:100px;
    height:50px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:200px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
}
.scrollToBottom:hover{
    text-decoration:none;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}